:root{
    --textColor: #000;
    --headerTextColor: #000;
    --secondaryTextColor: #000;
    --linkTextColor: #00ADEA;

    --secondaryBackgroundColor: #EEE;

    --textFontSize: 1rem;
    --headerFontSize: 1rem;
    --secondaryFontSize: 1rem;
}


html {
    font-size: 16px;
    font-family: "Noto Sans CJK TC";
}

.homepage {
    padding: 0;
    margin: 0
}

.homepage .header {
    height: 40vh;
    background: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage .header__title {
    font-size: 3rem;
    font-weight: bold;
}

.homepage .header__subtitle {
    font-size: 1.1rem;
}

.homepage .section {
    max-width: 710px;
    margin: 3rem auto;
}

.homepage .section__article {

}

.homepage .section__article:not(:last-child) {
    border-bottom: 1px solid #EEE;
    padding-bottom: 3rem;

}

.homepage .article__header {
    font-size: 1.6rem;
    font-weight: bold;
}

.homepage .article__content {
    margin-top: 1rem;
}

.homepage .article__content .content__image {
    max-width: 200px;
    float: right;
    margin: 0 0 1rem 1rem;
}

.homepage .article__meta {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.homepage .article__meta .meta__section--primary {
    flex: 1;
}

.homepage .article__meta .meta__section:not(:last-child) {
    margin-right: 1rem;
}

.homepage .article__meta .meta__section .section__label {
    background: #eee;
    padding: .2rem .5rem;
    border-radius: .3rem;
    margin-right: .5rem;
    font-size: .9rem;
}

.homepage .article__meta .meta__section .section__author {
    width: 32px;
    height: 32px;
    border-radius: 500em;
    vertical-align: top;
}

